h1 {
  text-align: center;
  padding-top: 1.5em;
  width: 100vw;
}

.name {
  font-family: "Fira Sans";
  font-weight: 700;
  font-size: 6.5rem;
  margin: 0 auto;
}
.description {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}
.theme-button {
  margin-top: 120px;
}

@media (max-width: 750px) {
  .name {
    font-size: 3.5rem;
  }
  .description {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .name {
    font-size: 2.5rem;
  }
}
