.top-nav {
  position: sticky;
  top: 0;
  padding: 0.25em;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  font-family: "Fira Sans";
  float: left;
  /* color: #d4e0e7; */
}
.logo:hover {
  color: #b5a1ff;
}

.nav {
  display: flex;
  /* list-style: none; */
  font-size: 20px;
}

.nav li {
  width: 7em;
  padding: 0.5em;
  /* color: #d4e0e7; */
}
.nav li:hover {
  color: #b5a1ff;
}
.top-react-icons {
  margin-right: 3px;
  margin-top: 3px;
}
