@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@600&display=swap");

.top-nav {
  position: sticky;
  top: 0;
  padding: 0.25em;
  /* background-color: #20274b; */
}
.logo {
  font-size: 30px;
  font-weight: 700;
  float: left;
  font-family: "Ysabeau SC", sans-serif;
  /* color: #d4e0e7; */
}
.logo:hover {
  color: #b5a1ff;
}

.nav {
  display: flex;
  font-size: 20px;
  font-family: "Ysabeau SC", sans-serif;
}

.nav li {
  width: 7em;
  padding: 0.5em;
  /* color: #d4e0e7; */
}
.nav li:hover {
  color: #b5a1ff;
}
.top-react-icons {
  margin-right: 3px;
  margin-top: 3px;
}
