@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@600&display=swap");

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: flex-start;
  align-items: center;
  background-color: #189ab4;
}
.brand-title {
  font-size: 2rem;
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 700;
  margin: 0.5rem;
  color: #ffffff;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  font-size: 20px;
  font-family: "Ysabeau SC", sans-serif;
}

.navbar-links li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 1rem;
}
.navbar-links li a:hover {
  color: #e6c2bf;
  transition: 0.3s ease-in-out;
}

.toggle-button {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 75%;
  background-color: #ffffff;
  border-radius: 10px;
}
.top-react-icons {
  display: inline;
  margin-top: -2px;
  margin-right: 4px;
}
.theme-switch {
  display: inherit;
}

@media (max-width: 750px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
