.customTooltip * {
  color: #4a4a4a;
  font-size: 18px;
}

.chart-display {
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .chart-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
