.top-react-icons {
  display: block;
  padding: 3px;
}
.top-react-icons:hover {
  color: #b5a1ff;
}
.delete-icon {
  margin: 1em;
  color: rgb(226, 74, 74);
}
.delete-icon:hover {
  color: rgb(216, 122, 122);
  cursor: pointer;
}
.edit-icon {
  margin: 1em;
  color: #0cec62a9;
}
.edit-icon:hover {
  color: rgba(44, 243, 127, 0.863);
  cursor: pointer;
}
.theme-icon {
  color: black;
}
.data-table-icons {
  display: inline;
  cursor: pointer;
}
