.float-button {
  background-color: #20aac5;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 0.3em;
  overflow: hidden;
}
.float-button:hover {
  background-color: #58c1d6;
  transition: 0.5s ease-in-out;
}
.float-button-icon {
  color: white;
}

.modal-topic {
  font-size: larger;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.units {
  font-size: smaller;
}
.checkbox {
  border-color: rgb(184, 197, 202);
}
.star {
  color: red;
  font-size: large;
}
.index {
  font-size: small;
}
.save-btn:hover {
  background-color: rgb(119, 201, 119);
}
.close-btn:hover {
  background-color: rgb(238, 111, 111);
}
