Table {
  width: 100%;
  /* background-color: #323232; */
}

.delete-icon {
  margin-left: 20px;
  color: rgb(226, 74, 74);
}
.delete-icon:hover {
  color: rgb(216, 122, 122);
  cursor: pointer;
}
.edit-icon {
  margin-left: 10px;
  color: #0cec62a9;
}
.edit-icon:hover {
  color: rgba(44, 243, 127, 0.863);
  cursor: pointer;
}
.mobile {
  display: none;
}

@media (max-width: 450px) {
  Table {
    display: none;
  }
  .mobile {
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
  }

  .date {
    width: 10em;
    height: 2.5em;
    text-align: center;
    padding: 0.25rem;
    border-color: rgba(121, 112, 112, 0.4);
  }
  .time {
    width: 9.5em;
    height: 2.5em;
    text-align: center;
    padding: 0.25rem;
    border-color: rgba(121, 112, 112, 0.4);
  }
  .systolic-data {
    width: 5.5em;
    height: 2.5em;
    text-align: center;
    padding: 0.25rem;
    border-color: rgba(121, 112, 112, 0.4);
  }
  .diastolic-data {
    width: 5.5em;
    height: 2.5em;
    text-align: center;
    padding: 0.25rem;
    border-color: rgba(121, 112, 112, 0.4);
  }
  .pulse-data {
    width: 5.5em;
    height: 2.5em;
    text-align: center;
    padding: 0.25rem;
    border-color: rgba(121, 112, 112, 0.4);
  }
  .checkbox {
    width: 21em;
    text-align: left;
  }
  .note-box {
    width: 21em;
    height: 6em;
    text-align: left;
    padding: 1rem;
    border-color: rgba(121, 112, 112, 0.4);
  }
}
