Table {
  width: 100%;
}
#heading {
  color: #20aac5;
}
.delete-icon {
  margin-left: 20px;
  color: rgb(226, 74, 74);
}
.delete-icon:hover {
  color: rgb(216, 122, 122);
  cursor: pointer;
}
.edit-icon {
  margin-left: 10px;
  color: #0cec62a9;
}
.edit-icon:hover {
  color: rgba(44, 243, 127, 0.863);
  cursor: pointer;
}
.mobile {
  display: none;
}

@media (max-width: 450px) {
  Table {
    display: none;
  }
  .mobile {
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: flex-start;
  }
  .slash {
    position: relative;
    top: 12px;
  }
  .heartbeat {
    text-align: left;
    margin-left: -10rem;
  }

  .note-box {
    width: 21em;
    height: 6em;
    text-align: left;
    padding: 1rem;
    border-color: rgba(121, 112, 112, 0.4);
  }
}
